@model TechSolutionsAPI.Models.CustomerViewModel

<h1>Create Customer</h1>

<div class="row text">
    <div class="col-md-8 offset-2">
        <h4> Add a new Customer</h4>

    <form asp-action="CreateCustomer" asp-controller="Admin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group text-center">
                <img class="border-info rounded-circle" style="max-width:150px" id="LogoUrlPreview" />
            </div>

           

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

        <div class="form-group">
            <label asp-for="Address" class="control-label"></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>


            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-outline-success" style="float:right;" />
            <a class="btn btn-outline-secondary" asp-controller="Admin" asp-action="ShowCustomer">Back</a>
            </div>
        </form>
    </div>
</div>
